<nav class="navbar">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="button" routerLink="steps1">1. domain <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="button" routerLink="steps2">2. tárhely</a>
                    </li>
                    <li class="nav-item">
                        <a class="button" routerLink="steps3">3. vevőadatok</a>
                    </li>
                    <li class="nav-item">
                        <a class="button" routerLink="steps4">4. megrendelés</a>
                    </li>                   
                </ul>
            </div>
        </nav>
    </div>
</nav>
<hr class="nav-hr">
