.button {
    background-color: #ef3296;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: sans-serif;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1rem;
    margin: 5rem 10px 5px 10px;
    width: 19rem;
}

.nav-hr {
    height: 1.8px;
    margin-right: 8rem;
    text-align: center;
    width: 100%;
}