<div class="card mt-3 mb-3 w-100">
    <div class="card-body">
        <div class="row">            
            <div class="wrapper">
                <div class="wrapper-cell">
                    <div class="image">
                        <div class="text">
                            <div class="text-line"></div>
                            <div class="text-line"></div>
                            <div class="text-line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
