$wwh-pink: #DC2BC4;
$wwh-pink-light: #ef3295;
$wwh-purple: #c624ff;
$wwh-blue: #1A1D39;
$wwh-blue-53:rgba(26, 29, 57,  0.53);
$wwh-blue-30: rgba(26, 29, 57, 0.3);
$wwh-blue-30-explorer: '#1a1a1d39';
$wwh-blue-10: rgba(26, 29, 57, 0.1);
$wwh-blue-0: rgba(26, 29, 57, 0);
$wwh-blue-0-explorer: '#001a1d39';
$white: #FFFFFF;
$nav-item-default-text-color: rgba(35, 44, 81, 0.3);
