@font-face {
    font-family: "MarkPro-Black";
    src: url(../../../assets/fonts/MarkPro-Black.otf);
  }
  
  @font-face {
    font-family: "MarkPro-BlackItalic";
    src: url(../../../assets/fonts/MarkPro-BlackItalic.otf);
  }
  
  @font-face {
    font-family: "MarkPro-Bold";
    src: url(../../../assets/fonts/MarkPro-Bold.otf);
  }
  
  @font-face {
    font-family: "MarkPro-BoldItalic";
    src: url(../../../assets/fonts/MarkPro-BoldItalic.otf);
  }
  
  @font-face {
    font-family: "MarkPro-Book";
    src: url(../../../assets/fonts/MarkPro-Book.otf);
  }
  
  @font-face {
    font-family: "MarkPro-BookItalic";
    src: url(../../../assets/fonts/MarkPro-BookItalic.otf);
  }
  
  @font-face {
    font-family: "MarkPro-ExtraLight";
    src: url(../../../assets/fonts/MarkPro-ExtraLight.otf);
  }
  
  @font-face {
    font-family: "MarkPro-ExtraLightItalic";
    src: url(../../../assets/fonts/MarkPro-ExtraLightItalic.otf);
  }
  
  @font-face {
    font-family: "MarkPro-Hairline";
    src: url(../../../assets/fonts/MarkPro-Hairline.otf);
  }
  
  @font-face {
    font-family: "MarkPro-HairlineItalic";
    src: url(../../../assets/fonts/MarkPro-HairlineItalic.otf);
  }
  
  @font-face {
    font-family: "MarkPro-HeavyItalic";
    src: url(../../../assets/fonts/MarkPro-HeavyItalic.otf);
  }
  
  @font-face {
    font-family: "MarkPro-Italic";
    src: url(../../../assets/fonts/MarkPro-Italic.otf);
  }
  
  @font-face {
    font-family: "MarkPro-Light";
    src: url(../../../assets/fonts/MarkPro-Light.otf);
  }
  
  @font-face {
    font-family: "MarkPro-LightItalic";
    src: url(../../../assets/fonts/MarkPro-LightItalic.otf);
  }
  
  @font-face {
    font-family: "MarkPro-Medium";
    src: url(../../../assets/fonts/MarkPro-Medium.otf);
  }
  
  @font-face {
    font-family: "MarkPro-MediumItalic";
    src: url(../../../assets/fonts/MarkPro-MediumItalic.otf);
  }
  
  @font-face {
    font-family: "MarkPro-Thin";
    src: url(../../../assets/fonts/MarkPro-Thin.otf);
  }
  
  @font-face {
    font-family: "MarkPro-ThinItalic";
    src: url(../../../assets/fonts/MarkPro-ThinItalic.otf);
  }