<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="https://sys.wwh.hu">
                <img src="../../assets/images/wwh-logo.svg" height="44" alt="" title="" />
            </a>
        </div>

        <nav class="navbar navbar-expand-lg navbar-wwh">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="">Domain <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="tarhely">Tárhely</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="vps">VPS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="tudasbazis">Tudásbázis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="contact">Kapcsolat</a>
                    </li>
                    <li class="nav-separator">&nbsp;</li>

                    <li class="nav-cart">
                        <a class="btn-wwh" id="cart-menu" title="Kosár" href="#">
                            <img class="default" width="44" src="../../assets/images/cart-icon.png" alt="Kosár"
                                title="Kosár">
                            <img class="hover" width="44" src="../../assets/images/cart-icon-hover.png" alt="Kosár"
                                title="Kosár">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</nav>
